[submodule "translators"]
	path = translators
	url = git@github.com:juris-m/translators.git
[submodule "styles"]
	path = styles
	url = git@github.com:juris-m/jm-styles.git
[submodule "test/resource/chai"]
	path = test/resource/chai
	url = https://github.com/chaijs/chai.git
[submodule "test/resource/mocha"]
	path = test/resource/mocha
	url = https://github.com/mochajs/mocha.git
[submodule "csl-locale-submodule"]
	path = chrome/content/zotero/locale/csl
	url = git@github.com:citation-style-language/locales.git
[submodule "jm-sh"]
	path = jm-sh
	url = git@github.com:Juris-M/jm-sh.git
