dialog
{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#aboutcontent
{
	background: white;
	padding: 10px;
}

#column1 {
	width: 23em;
	padding-right: 2em;
}

#column2 {
	margin-right: 1em;
}

#name
{
	font-size: large;
	font-weight: bold;
}

#version
{
	color: gray;
	margin-bottom: 5px;
	-moz-user-select: text;
	-moz-user-focus: normal;
	cursor: text;
}

#changelog {
	border: 0;
}

.subhead
{
	margin-top: 5px;
	font-weight: bold;
}

.subcontent
{
	margin-left: 10px;
	margin-bottom: 5px;
}

#about-text {
	margin-top: .7em;
	margin-bottom: .7em;
}

#about-text > p {
	margin-left: .5em;
	line-height: 1.4em;
}

span.text-link {
	cursor: pointer;
	color: -moz-nativehyperlinktext;
}

span.text-link:hover {
	text-decoration: underline;
}

/* Remove default underline from XUL links */
label.zotero-text-link {
	text-decoration: none;
}

label.zotero-text-link:hover {
	text-decoration: underline;
}


/* 
 * Juris-M: are these still in use?
 */

#mlz-welcome description.subcontent
{
	margin-left: 1em;
	margin-bottom: 5px;
}

#zotero-translators-list {
	margin: .3em 0;
	height: 9em;
	overflow: -moz-scrollbars-vertical;

#zotero-translators-list label:not(.locale) {
	margin-left: 1.25em;
}

description label.zotero-text-link {
	margin-left: 0px;
	margin-right: 0px;
}

